# Игнорировать папки __pycache__
__pycache__/

# Игнорировать файлы базы данных
*.db
quiz_bot.db

# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы .env
.env

# Игнорировать файлы IDE
.vscode/
.idea/

# Игнорировать логи
*.log

# Игнорировать кэш pip
.pip-cache/

# Игнорировать временные файлы
*.tmp
*.bak